<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>水果</key>
	<array>
		<string>哈密瓜</string>
		<string>柿子</string>
		<string>释迦</string>
		<string>桃子</string>
		<string>百香果</string>
		<string>椰子</string>
		<string>无花果</string>
		<string>山竹</string>
		<string>西瓜</string>
		<string>菠萝</string>
		<string>柚子</string>
		<string>香蕉</string>
		<string>火龙果</string>
		<string>樱桃</string>
		<string>蓝莓</string>
		<string>香梨</string>
		<string>葡萄</string>
		<string>石榴</string>
		<string>猕猴桃</string>
		<string>芒果</string>
		<string>三华李</string>
		<string>草莓</string>
		<string>柠檬</string>
		<string>苹果</string>
		<string>香橙</string>
		<string>杏子</string>
	</array>
	<key>公仔</key>
	<array>
		<string>Zoe</string>
		<string>zoe</string>
		<string>Oscar</string>
		<string>oscar</string>
		<string>Bert</string>
		<string>bert</string>
		<string>Count</string>
		<string>count</string>
		<string>Elmo</string>
		<string>elmo</string>
		<string>Big bird</string>
		<string>big bird</string>
		<string>Abby</string>
		<string>abby</string>
		<string>Cookie monster</string>
		<string>cookie monster</string>
		<string>Ernie</string>
		<string>ernie</string>
	</array>
	<key>动物</key>
	<array>
		<string>鹌鹑</string>
		<string>斑马</string>
		<string>北极鸥</string>
		<string>短吻鳄</string>
		<string>二趾树懒</string>
		<string>狗</string>
		<string>龟</string>
		<string>海狸</string>
		<string>海象</string>
		<string>河马</string>
		<string>猴子</string>
		<string>狐狸</string>
		<string>考拉</string>
		<string>鬣鳞蜥</string>
		<string>猫</string>
		<string>牦牛</string>
		<string>山羊</string>
		<string>狮子</string>
		<string>水母</string>
		<string>田鼠</string>
		<string>兔子</string>
		<string>夜莺</string>
		<string>鹦鹉</string>
		<string>鹰</string>
		<string>章鱼</string>
		<string>天鹅</string>
	</array>
	<key>声乐器</key>
	<array>
		<string>贝斯</string>
		<string>钹</string>
		<string>单簧管</string>
		<string>电吉他</string>
		<string>电子琴</string>
		<string>非洲手鼓</string>
		<string>钢琴</string>
		<string>鼓</string>
		<string>吉他</string>
		<string>节拍器</string>
		<string>爵士鼓</string>
		<string>康加鼓</string>
		<string>口琴</string>
		<string>木琴</string>
		<string>排箫</string>
		<string>琵琶</string>
		<string>萨克斯管</string>
		<string>三角铁</string>
		<string>沙锤</string>
		<string>手风琴</string>
		<string>手摇铃</string>
		<string>竖笛</string>
		<string>竖琴</string>
		<string>小号</string>
		<string>小提琴</string>
		<string>中提琴</string>
	</array>
	<key>交通工具</key>
	<array>
		<string>出租车</string>
		<string>船</string>
		<string>帆船</string>
		<string>飞机</string>
		<string>高铁</string>
		<string>耕田机</string>
		<string>公交车</string>
		<string>货车</string>
		<string>货船</string>
		<string>轿车</string>
		<string>警车</string>
		<string>救护车</string>
		<string>卡车</string>
		<string>缆车</string>
		<string>摩托车</string>
		<string>泥头车</string>
		<string>潜艇</string>
		<string>热气球</string>
		<string>山地车</string>
		<string>太空船</string>
		<string>挖土车</string>
		<string>消防车</string>
		<string>校车</string>
		<string>直升飞机</string>
		<string>装甲车</string>
		<string>自行车</string>
	</array>
	<key>亲属关系</key>
	<array>
		<string>阿姨</string>
		<string>表弟</string>
		<string>表哥</string>
		<string>表妹</string>
		<string>伯伯</string>
		<string>伯母</string>
		<string>哥哥</string>
		<string>姑父</string>
		<string>姑姑</string>
		<string>姐夫</string>
		<string>姐姐</string>
		<string>舅舅</string>
		<string>舅妈</string>
		<string>奶奶</string>
		<string>嫂嫂</string>
		<string>婶婶</string>
		<string>叔叔</string>
		<string>堂弟</string>
		<string>堂哥</string>
		<string>堂姐</string>
		<string>堂妹</string>
		<string>外公</string>
		<string>外婆</string>
		<string>爷爷</string>
		<string>姨丈</string>
		<string>表姐</string>
	</array>
	<key>珠心算</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>23</string>
		<string>24</string>
		<string>25</string>
	</array>
	<key>字母</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
	</array>
</dict>
</plist>
